#intro {
    background-image: url('https://mdbootstrap.com/img/new/fluid/city/018.jpg');
    height: 100vh;
  }
  
  /* Adjust height for larger devices */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }
  
  .navbar .nav-link {
    color: #fff !important;
  }
  